.game {
  width: 800px;
  height: 300px;
  border: 1px solid black;
  margin: auto;
}

#catto {
  width: 112px;
  height: 96px;
  background-image: url("catto.png") no-repeat -32px -178px;
  background-size: 112px 96px;
  position: relative;
  top: 150px;
}

.catto {
  animation: running 1s linear infinite;
}

@keyframes running {
  0% {
    background-image: url("catto.png") no-repeat -32px -178px;
	  width: 112px;
	  height: 96px;
  }

  25% {
    background-image: url("catto.png") no-repeat -192px -183px;
	  width: 112px;
	  height: 91px;
  }

  50% {
    background-image: url("catto.png") no-repeat -352px -178px;
	  width: 112px;
	  height: 96px;
  }
  75% {
    background-image: url("catto.png") no-repeat -512px -184px;
	  width: 112px;
	  height: 90px;
  }
  100% {
    background-image: url("catto.png") no-repeat -192px -183px;
	  width: 112px;
 	  height: 91px;
  }
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#obstacles {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("obstacles.png");
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}
